.dropdown-select
	position relative
	width 14rem

	.button-label
		width 100%
		flex-direction row-reverse
		justify-content space-between
		padding-left 0.8rem
		padding-right 0.4rem

	&__content
		width 100%
		absolute(top 3.6rem left 0)
		z-index 5

		.dropdown-menu
			width 100%

	&__scroll
		max-height 20rem

		.ps__rail-x
			display none