.header-menu

    &--select
        display none !important
        +below($bp-header-menu)
            display flex !important


    &__dropdown
        absolute(right 0 top 3.6rem)
        z-index 12