div
        .colors
            .color.blue-800
            .color.blue-700
            .color.blue-600
            .color.blue-500
            .color.blue-400
            .color.blue-200
        .colors
            .color.black-850
            .color.black-800
            .color.black-700
            .color.black-450
            .color.black-400
            .color.black-350
            .color.black-200
            .color.black-150
            .color.black-100
            .color.black-50
        .colors
            .color.green-901
        .colors
            .color.red-600